.details {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 2rem;
  align-items: start;
  position: relative;
}

@media (max-width: 1500px) {
  .details {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 948px) {
  .details {
    grid-template-columns: 1fr;
  }

    .miniaturas {
    display: flex;
    margin-top: 10px;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
  }

}



    