.details {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 2rem;
  align-items: start;
  position: relative;
}


@media (max-width: 1500px) {
  .details {
    grid-template-columns: 1fr 1fr;
  }
  .price-section{
    grid-column: 1/-1;
  }
}

@media (max-width: 1000px) {
  .details {
    grid-template-columns: 1fr;
  }

  .miniaturas {
    display: flex;
    margin-top: 10px;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
  }
}


@media (max-width: 668px) {
  .price-fixed{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--colorWhite);
  }
}

    