.carousel-wrapper {
  position: relative;
}

.carousel-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 5;
    background:
    linear-gradient(
      to bottom,
      rgba(255,255,255,0) 80%,
      var(--corTema) 100%
    )
}
