button{
    padding: 5px 15px;
    border-radius: 6px;
    color: var(--corTema);
    border: 1px solid var(--corTema);
    transition: 0.3s;
}

button:hover{
    background-color: var(--corTema);
    color: white;
}