.div-content{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 80%;
  gap: 2em;
  margin-top: 1em;
}

.carousel-control-prev, .carousel-control-next{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  top: 50%;
  background-color: white;
}

.setas-carousel{
  color: black;
}

@media (max-width: 1024px) {
  .div-content{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
  gap: 2em;
  margin-top: 1em;
}

}