.cart-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
}

.container-geral{
    background-color: #ececec;
    width: 90%;
    position: relative;
    left: 50vw;
    transform: translate(-50%,0);
    margin-top: 2em;
    padding: 2em;
    border-radius: .5em ;
}


.cart-items {
    max-height: 400px;
    overflow-y: auto;
}

.cart-item {
    background: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.cart-item-info {
    flex: 1;
}

.cart-item-name {
    font-weight: 600;
    margin-bottom: 5px;
}

.cart-item-price {
    color: var(--colorPurple);
    font-weight: bold;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btns-quantity{
    padding: .1em;
    border-radius: 1em;
    border: 1px solid rgb(199, 199, 199);
}

.quantity-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: none;
    /* color: white;  */
    cursor: pointer;
    font-weight: bold;
}

.btn-remove {
    padding: 5px 10px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}


button{
    display: flex;
    justify-content: center;
    align-items: center;
}