.carousel-container {
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  border-radius: 8px;
  min-width: 0;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-img {
  width: 100%;
  flex-shrink: 0;
  object-fit: contain;
}

.miniaturas {
  display: flex;
  margin-top: 10px;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.miniatura {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
}

.miniatura:hover {
  border: 1px solid var(--colorTheme);
}
