.header {
  padding: 1em;
  color: white;
  text-align: center;
  background-color: var(--colorTheme);
}

.cart-icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.btn-nav{
  width: 100%;
  padding: 10px;
  background:#764ba2 ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.btn-nav:hover{
  background: #2c193f;
}

#btn-login{
  width: auto;
  padding: 7px;
}


@media (max-width: 1140px) {
  #logo, #btn-login{
    display: none;
  }
  .search{
    width: 100%;
  }
  .form-content{
    width: 100% !important;
  }
}

.item-list{
  text-align: start;
  width: 100%;
  padding: 10px;
  background:var(--colorSecondary) ;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.options{
  margin: 0;
  padding: 0;
}