.header {
  padding: 1em;
  color: white;
  text-align: center;
  background-color: var(--colorTheme);
}

.cart-icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.btn-nav{
  width: 100%;
  padding: 10px;
  background:#764ba2 ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.btn-nav:hover{
  background: #2c193f;
}


@media (max-width: 974px) {
  #logo, .btn-login{
    display: none;
  }
  .search{
    width: 100%;
  }
  .btn-bars{
    display: block !important;
  }
  .form-content{
    width: 100% !important;
  }
}

.item-list{
  margin: 4px;
  text-align: start;
  width: 100%;
  padding: 6px;
  background:#764ba2 ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.btn-entrar{
  background-color: #3e2655;
}