.header {
  padding: 3em;
  color: white;
  text-align: center;
  background-color: var(--corTema);
}

.cart-icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.btn-nav{
  width: 100%;
  padding: 10px;
  background:#764ba2 ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.btn-nav:hover{
  background: #603888;
}