:root{
  --corTema: #667eea;
}

.cont-back{
  background: linear-gradient(to bottom, var(--corTema) 0%, #764ba2 100%);
}

.wrapper{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--corTema) 0%, #764ba2 100%);
  display: flex;
  justify-content: center;
  padding: 1rem;
}


.content{
  position: relative;
  border-radius: 20px;
  display: grid;
  padding: 30px;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.app-container{
  width: 90%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  border-start-end-radius: 20px;
  border-start-start-radius: 20px;
}

.content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 30px;
} 

/* Tablet */
@media (max-width: 1135px) {
  .content{
    grid-template-columns: 1fr;
  }
}
/* 

