.wrapper{
  width: 65%;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to bottom, #667eea 0%, #764ba2 100%);
  display: flex;
  justify-content: center;
  padding: 2em;
}

header{
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 3em;
  border-start-end-radius: 20px;
  border-start-start-radius: 20px;
  color: white;
}

.continuacao{
  height: 80%;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px ;
  display: grid;
  padding: 30px;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.container{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  border-start-end-radius: 20px;
  border-start-start-radius: 20px;
}

.products{
  border: 1px solid black;
}