:root{
  --colorTheme: #0F4C5C;
  --colorSecondary: #1a90ad;
  --colorBackground:#0b3b47;
  --colorWhite: #ffffff;
  --colorPurple: #7f5ad4;
  --colorGrey: #ebebeb;
}

#root, body, html{
  background-color: var(--colorBackground);
  height: 100%;
  margin: 0;
}

.wrapper{
  width: 100%;
  justify-content: center;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
/* Tablet */
@media (max-width: 1135px) {
  .wrapper{
    grid-template-columns: 1fr;
  }
}
