.btn-size{
  border: 1px solid var(--colorSecondary);
  border-radius: 10px;
  aspect-ratio: 1/1;
  width: 50px;
}

.btn-size:hover{
  background-color: var(--colorSecondary);
}
.btn-size:focus{
  background-color: var(--colorSecondary);
  color: white;
}

